# ==== WordPress 完全黑名单隔离策略 ==== #
# 屏蔽掉一切文件
/*

# 唯一的特例：允许进入 wp-content 目录
!wp-content/

# 但进入 wp-content 后，继续屏蔽里面的一切
wp-content/*

# 以下是我们在 wp-content 中破例允许跟踪的东西：
!wp-content/themes/
wp-content/themes/*
# ---> 修改下面的 your-theme 为您未来真正想自己写代码的主题文件夹名 <---
# !wp-content/themes/your-theme/

!wp-content/plugins/
wp-content/plugins/*
# ---> 修改下面的 your-plugin 为您未来真正想自己写代码的业务插件文件夹名 <---
# !wp-content/plugins/your-plugin/

# 基本的系统隐藏文件
.DS_Store
Thumbs.db
